<div class="container">
    <h1>Create post</h1>
    <form>
        <div class="form-group">
            <label for="url">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="post.name" name="name">
        </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" required [(ngModel)]="post.type" name="type">
            <option value="audio" selected>Audio</option>
            <option value="video">Video</option>
            <option value="text">Text</option>
        </select>
    </div>

      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" required [(ngModel)]="post.url" name="url">
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <input type="text" class="form-control" id="content" [(ngModel)]="post.content" name="content">
      </div>

      <div class="form-group">
            <label for="tags">Tags</label>
            <!-- <input type="text" class="form-control" id="tags"  [(ngModel)]="tags" name="tags"> -->
            <tag-input [(ngModel)]='tags' [editable]='true' name='tags'></tag-input>
        </div>
      <button  class="btn btn-success" (click)="savePost()">Save</button>

    </form>
</div>