<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/posts">Home</a>
        <a class="nav-item nav-link" routerLink="/posts">Posts</a>
        <a class="nav-item nav-link" routerLink="/createpost" *ngIf="isAdmin">Create Post</a>
        <a class="nav-item nav-link" routerLink="/analytics" *ngIf="!isAdmin">Analytics</a>
        <a class="nav-item nav-link" routerLink="/users" *ngIf="isAdmin">Users</a>
        <label class="nav-item nav-link">Welcome {{currentUser.username}}</label>
        <a class="nav-item nav-link float-right" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
