<!-- Grid row -->
<div class="row ">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 top-buffer" *ngFor="let post of posts" >
    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="card-img-top"
          alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{post.name}}</h4>
        <!--Text-->
        <p class="card-text">{{post.content}}</p>
        <!-- <a href="#" class="btn btn-primary">Button</a> -->
        <div *ngIf="!isAdmin">
          
            <button type="button" class="btn btn-info btn-sm" (click)="like(post.postID)">
                <span class="glyphicon glyphicon-thumbs-up"></span> {{post.liked?'Liked':'Like'}}
              </button>
        </div>
        <div *ngIf="isAdmin">
          
            <button type="button" class="btn btn-info btn-sm" routerLink="edit/{{post.postID}}">
                <span class="glyphicon glyphicon-thumbs-up"></span> Edit
              </button>
        </div>
        
      </div>

    </div>
    <!--/.Card-->
  </div>
</div>
